
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

        {% for order, qty in melon_orders %}
            <tr>
                <td>{{ order.common_name }}</td>
                <td>{{ qty }}</td>
                <td>${{ "%.2f" | format(order.price) }}</td>
                <td>${{ "%.2f" | format(order.price*qty) }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <h3>Total: ${{ "%.2f" | format(order_total) }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
